@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';

.title-cards {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .title-cards-header {
    display: flex;

    h1 {
      flex-grow: 1;
    }

    .link-more {
      display: flex;
      flex-direction: column-reverse;
      flex-grow: 0;
      margin: calc(2rem - 0.14285714em) 0em 1rem;

      a {
        padding: 0px;
        text-decoration: none;

        .greenLined();
      }
    }
  }

  .title-card,
  .title-card a {
    display: flex;
    align-items: center;
    padding: 1em 2em;
    background-color: @white;
    color: @black;
    gap: 1em;

    &:hover {
      background-color: @yellow;
      transition: background-color 1.4s;
    }

    h2 {
      flex: 33%;
      margin: unset;
    }

    & > * {
      flex-grow: 1;
    }

    .title-card-text {
      flex: 40%;
      flex-grow: 0;
      font-size: clamp(0.875rem, 2.75vw, 1.25rem);
      line-height: clamp(1rem, 2.75vw, 1.5rem);
    }

    .title-card-image {
      display: flex;
      flex-direction: row-reverse;

      img {
        width: 6em;
        flex-grow: 0;
      }
    }
  }

  .title-card a {
    margin: -1em -2em;
  }
}

@media only screen and (max-width: @largestMobileScreen) {
  .title-cards {
    .title-card,
    .title-card a {
      flex-wrap: wrap;

      h2 {
        flex: 50% !important;
      }

      .title-card-text {
        flex: 50% !important;
      }
    }
  }
}
