.hover-menu {
  position: absolute;
  top: 76px;
  left: 0px;
  width: 100%;
  background-color: white;
  padding: 1em;

  .hover-menu-items {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: 'Precious Sans Two Medium';
    .level-0 {
      font-size: 1.125rem;
      line-height: 1.313rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-right: 80px;
      a {
        color: #000000;
      }
    }
    .level-1 {
      font-size: 1rem;
      line-height: 1.188rem;
      letter-spacing: 0.01em;
      text-transform: none;
      margin: 0.975rem 0.975rem 0.975rem 0;
      a {
        color: #706F6F;
        
      }
    }
  }
}
