// Blockquote & Blockquote footer
.quoteBlock {
  padding-left: 7.5rem;
  padding-right: 5rem;
  margin-left: 30%;
  box-shadow: unset;
  border: unset;
  background: url('./quotes.svg') no-repeat top left;
  font-size: clamp(1.125rem, 2.75vw, 1.75rem);
  line-height: clamp(1.35rem, 2.75vw, 2.1rem);
  p {
    margin-left: 1rem !important;
  }
}
