/*******************************
      Slider Listing
*******************************/

@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';

@cardBg: white;

.listing-card {
  margin-right: 1em;
  background-color: @cardBg;

  .image-container {
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slide-details {
    display: flex;
    padding: 1em;
    background-color: @cardBg;

    h4 {
      margin: 0;
    }
  }
}

.block.listing .slider-listing {
  .slider-nav {
    transition: opacity 0.2s ease-in-out;
    display: flex;
    justify-content: end;
    padding: 0.6em;

    button {
      outline: none;
      .greenLined();
      border-color: transparent;

      &:hover {
        .greenLined();
      }
    }
  }
}
