@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';

@factsCardGap: 4px;
@cardBg: white;

// @listingBlockHeaderMargin;

.factsGrid() {
  display: grid;
  margin-top: clamp(3rem, 11vw, 8.5rem);
  gap: @factsCardGap;
  grid-auto-flow: row;
  grid-template-areas:
    'block-title tall .'
    'block-title tall .'
    '. wide wide';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  @media only screen and (max-width: @largestMobileScreen) {
    grid-template-areas:
      'block-title block-title'
      'tall tall'
      '. .'
      '. wide';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr;
  }
}

.factCard() {
  display: flex;
  // height: @smallHeight;
  flex-direction: column;
  justify-content: space-between;
  padding: clamp(0.75rem, 2.25vw, 1.5rem);
  background-color: @cardBg;

  .title {
    font-size: clamp(1.75rem, 4.25vw, 4.06rem);
    line-height: clamp(2.1rem, 4.25vw, 4.875rem);
  }

  .subtitle {
    margin-bottom: 0.75rem;
    font-size: clamp(0.875rem, 4.25vw, 1.25rem);
    line-height: clamp(1.026rem, 4.25vw, 1.465rem);
  }

  img {
    width: auto;
    height: 100%;
    max-height: 100px;
    align-self: flex-start;
  }
}

.facts-grid {
  .factsGrid();
}

.facts-grid-block-title {
  // .factCard();
  grid-area: block-title;

  h2 {
    .h1Font();
    .h1Text();
    margin-top: unset !important;
  }

  @media only screen and (max-width: @largestMobileScreen) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //flex-wrap: wrap;

    h2 {
      width: 10ch;
      margin: unset;
      margin-top: 1rem !important;
    }
  }
}

.facts-grid-wide-cell {
  grid-area: wide;
}

.facts-grid-tall-cell {
  grid-area: tall;
}

.fact-card {
  .factCard();
}
