.view-editview {
}

// Floated content design

@h3MarginTop: 4.375rem;

#page-document {
  // float h3s to left
  & > h3 {
    max-width: @leftColumnSize;
    padding-right: 1em;
    margin-top: 0px;
    float: left;
    font-family: @headerFont;
    font-size: clamp(1.125rem, 2.75vw, 1.563rem);
    line-height: clamp(1.35rem, 2.75vw, 1.875rem);
    text-transform: none;

    &:not(:first-child) {
      margin-top: 3rem;
    }
  }

  & > p,
  & > ol,
  & > ul {
    margin-left: @leftColumnSize;
  }

  & > table,
  .table-of-contents {
    width: @rightColumnSize;
    margin-left: @leftColumnSize;
  }

  h3 + *:not(:first-child) {
    margin-top: @h3MarginTop;
  }

  h3 + .ui.divider {
    margin-top: calc(@h3MarginTop * 1.4);
    margin-bottom: calc(@h3MarginTop * 1);
  }

  .ui.divider:not(.vertical):not(.horizontal) {
    border-top: 1px solid black;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  }

  .ui.divider.short {
    width: @rightColumnSize;
    margin-left: @leftColumnSize;
  }
}

@media only screen and (max-width: @largestMobileScreen) {
  .content-area {
    // un-float h3s to left
    h3 {
      max-width: 100%;
      float: none;
    }
  }
}

/********   Other typography/styles   ********/
// P2 Body Copy Desktop
.p2 {
  font-size: clamp(0.875rem, 2.25vw, 1.125rem);
  line-height: clamp(1.026rem, 2.25vw, 1.318rem);
}

// discreet Desktop
.discreetBlock {
  font-size: clamp(0.75rem, 2.25vw, 0.875rem);
  line-height: clamp(0.975rem, 2.25vw, 1.026rem);
}

// Description below h1 title
.content-description {
  font-family: @headerFont;
  font-size: clamp(1.125rem, 2.75vw, 1.75rem);
  line-height: clamp(1.35rem, 2.75vw, 2.1rem);
}
