@h3MarginTop: 4.375rem;

.ui.segment.content-area {
  margin-top: 4em;
}

.ui.segment.content-area #view {
  min-height: 30em;

  a {
    color: @black;
  }

  p a {
    text-decoration: underline;
  }

  // Volto default blockquote & callout
  blockquote.callout {
    min-height: 3em;
    padding-right: 5rem;
    padding-left: 7.5rem;
    margin-left: 30%;
    background: url('@{assetsFolder}/images/quotes.svg') no-repeat top left;
    font-size: clamp(1.125rem, 2.75vw, 1.75rem);
    line-height: clamp(1.35rem, 2.75vw, 2.1rem);
    border: unset;
    box-shadow: unset;
    padding-top: 0;
    padding-bottom: 0;
  }
  p.callout {
    border: unset;
    box-shadow: unset;
    border-left: 4px @blueLight solid;
    padding: 0 4rem 0 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0px;
    font-size: clamp(1.125rem, 2.75vw, 1.75rem);
    line-height: clamp(1.35rem, 2.75vw, 2.1rem);
  }
}

// Floated content design
#page-document {
  // float h3s to left
  & > h3 {
    max-width: @leftColumnSize;
    padding-right: 1em;
    margin-top: 0px;
    float: left;
    font-family: @headerFont;
    font-size: clamp(1.125rem, 2.75vw, 1.563rem);
    line-height: clamp(1.35rem, 2.75vw, 1.875rem);
    text-transform: none;

    &:not(:first-child) {
      margin-top: 3rem;
    }
  }

  & > p,
  & > ol,
  & > ul,
  & > div.block.video {
    margin-left: @leftColumnSize;

    &.full {
      margin-left: unset;
    }
  }

  & > table,
  .table-of-contents {
    width: @rightColumnSize;
    margin-left: @leftColumnSize;
  }

  & > h3 + *:not(:first-child) {
    margin-top: @h3MarginTop;
  }

  & > h3 + .ui.divider {
    margin-top: calc(@h3MarginTop * 1.4);
    margin-bottom: calc(@h3MarginTop * 1);
  }

  & > .ui.divider:not(.vertical):not(.horizontal) {
    border-top: 1px solid black;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  }

  & > .ui.divider.short {
    width: @rightColumnSize;
    margin-left: @leftColumnSize;
  }

  & > h2 {
    margin-top: 1em;
  }

  & > .block.hero {
    .link-more {
      a {
        .greenLined();
      }
    }
  }
}
//remove page margins for mobile
@media only screen and (max-width: @largestMobileScreen) {
  #page-document {
    // un-float h3s to left
    & > h3 {
      max-width: 100%;
      float: unset;
    }
    & > p,
    & > ol,
    & > ul,
    & > div.block.video {
      margin-left: unset;
  
      &.full {
        margin-left: unset;
      }
    }
    & > .ui.divider.short {
      margin-left: unset;
    }
    & > table,
    .table-of-contents {
      width: 100%;
      margin-left: unset;
    }
    .quoteBlock-wrapper {
      margin-left: unset;
    }
    & > h3 + *:not(:first-child) {
      margin-top: unset;
    }
  
    & > h3 + .ui.divider {
      margin-top: unset;
      margin-bottom: unset;
    }
  
  }
}

/********   Other typography/styles   ********/
// P2 Body Copy Desktop
.p2 {
  font-size: clamp(0.875rem, 2.25vw, 1.125rem);
  line-height: clamp(1.026rem, 2.25vw, 1.318rem);
}

// discreet Desktop
.discreetBlock {
  font-size: clamp(0.75rem, 2.25vw, 0.875rem);
  line-height: clamp(0.975rem, 2.25vw, 1.026rem);
}

// Description below h1 title
.content-description {
  font-family: @headerFont;
  font-size: clamp(1.125rem, 2.75vw, 1.75rem);
  line-height: clamp(1.35rem, 2.75vw, 2.1rem);
}

// no borders on h1
.documentFirstHeading {
  border: unset;

  &::before {
    border: unset;
  }
}

// .contenttype-event {
//   #page-document {
//     margin-top: 4em;
//   }
// }
