@cardBg: white;

.listing-card {
  display: flex;
  flex-direction: column;
  aspect-ratio: 0.7518797;
  background-color: @cardBg;

  & > a {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .animateBackgroundImage();

  .image-container {
    max-height: 50%;

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1.5;
      object-fit: cover;
    }
  }

  .card-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: @cardBg;

    h4 {
      .h2Font();
      .elipsisOverflow(4);

      margin: 0;
    }

    time {
      margin-top: auto;
      font-size: clamp(0.75rem, 2.25vw, 1.25rem);
      line-height: clamp(1rem, 2.25vw, 1.625rem);
    }
  }
}

/********   Listings   ********/
.listing-item img {
  margin-right: unset;
}

/********   Listings > Listings   ********/
// TODO: is this styling still needed?
.grid.listings {
  & > div.listing-column {
    .animateBorder(transparent, #019fb6, 4px, top);
    .cycleBorder(top);
    border-top: 0px; // we want the animation to affect just the border color
  }

  .ui.segment {
    padding: unset;
    margin: unset;
  }

  .ui.grid > .column:not(.row),
  .ui.grid > .row > .column {
    padding-right: 3px;
    padding-left: unset;

    .listing-item img {
      width: 100%;
      aspect-ratio: 2 / 1;
      object-fit: cover;
    }

    .listing-item-content {
      aspect-ratio: 2 / 1;
      background-color: @white;

      h2 {
        padding: 1.5rem;
        margin: unset;
        font-size: 2.188rem;
        line-height: 2.813rem;

        a {
          color: @black;
        }
      }
    }
  }
}

.contenttype-lrf {
  .listing-block-header {
    h2 {
      .h1Font();
      .h1Text();
    }
  }
}

.listing-block-header {
  display: flex;
  justify-content: space-between;
  //margin-top: 11.5rem;
  margin-bottom: clamp(1.5rem, 5.5vw, 4.25rem);

  h2 {
    max-width: 55% !important;
    flex-grow: 1;
    margin-bottom: 0px;
    text-transform: uppercase;

    .h3Text();

    @media only screen and (min-width: @largestMobileScreen) {
      //white-space: nowrap;
    }
  }

  .link-more {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 0;

    a {
      padding: 0px;
      text-decoration: none;

      .isBtn();
    }
  }
}
