/********   Search results   ********/
#page-search {
  #content-core {
    margin: 0 4rem;

    article.tileItem {
      padding: 1.25rem 1.563rem;
      margin-bottom: 0.25rem;
      background-color: @white;

      h2 {
        margin-bottom: 0.625rem;
        font-family: @pageFont;
        font-size: clamp(1.25rem, 2.75vw, 1.875rem);
        line-height: clamp(1.5rem, 2.75vw, 2.625rem);

        a {
          color: @black;
        }
      }

      .tileBody {
        font-size: 1.25rem;
        line-height: 1.563rem;
      }
    }
  }
}
/********   Header Search widget   ********/
.hover-menu.search-widget {
  height: 10rem;

  .hover-menu-inner {
    padding: 4.5rem 1.25rem 1.25rem 1.25rem;
  }
}

.view-viewview .field.searchbox {
  display: flex;
  padding-left: unset !important;

  border-bottom: 2px solid black;
  border-left: unset !important;
  /* padding-left: 1em; */
  /* border-left: 1px solid #B8C6C8; */

  .ui.input input {
    margin-left: 2rem;
    color: @darkgrey !important;
    font-family: @fontName;
    font-size: clamp(2rem, 4.25vw, 4.06rem);
    text-transform: uppercase;
  }
}

#page-search-widget {
  padding: 4.5rem 1.25rem 1.25rem 1.25rem;
  background-color: @white;
}

#search-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.25rem;
  gap: 0.25rem;

  a {
    .isBtnSec();
    .cycleBackground();
  }
}

.search-results-count {
  margin: 5.5rem 0rem 4rem 0rem;
  .h3Text();
  text-transform: uppercase;

  strong {
    color: @greenLight;
  }
}

#content-core .search-footer {
  .ui.pagination.menu {
    background: unset;
    font-size: 2.5rem;

    .item {
      min-width: 1.5rem;
      padding: 0 !important;
      margin: 0 0.5rem;
    }
  }
}
