/********   Search results   ********/
#page-search {
  #content-core {
    article.tileItem {
      padding: 1.25rem 1.563rem;
      margin-bottom: 0.25rem;
      background-color: @white;

      h2 {
        margin-bottom: 0.625rem;
        font-family: @pageFont;
        font-size: clamp(1.25rem, 2.75vw, 1.875rem);
        line-height: clamp(1.5rem, 2.75vw, 2.625rem);

        a {
          color: @black;
        }
      }

      .tileBody {
        font-size: 1.25rem;
        line-height: 1.563rem;
      }
    }
  }
}
/********   Header Search widget   ********/
.hover-menu.search-widget {
  height: 10rem;

  .hover-menu-inner {
    padding: 4.5rem 1.25rem 1.25rem 1.25rem;
  }
}

.field.searchbox {
  display: flex;

  border-bottom: 2px solid black;
  padding-left: unset !important;
  border-left: unset !important;
  /* padding-left: 1em; */
  /* border-left: 1px solid #B8C6C8; */

  input {
    font-size: 4.063rem;
    line-height: 4.875rem;
    text-transform: uppercase;
    color: @darkgrey !important;
    font-family: @fontName;
    margin-left: 2rem;
  }
}

#page-search-widget {
  padding: 1em;
  background-color: @white;
}

#search-tags {
  display: flex;
  gap: 1em;

  a {
    .isBtn();
  }
}
